body {
  margin:0;
  border-bottom:1px solid gray;
  color:#F592BB;
  <input type="button" value="night" onclick="
  document.querySelector('body').style.backgroundColor = 'black';
  document.querySelector('body').style.color = '#F4B6D9';
">
<input type="button" value="day" onclick="
  document.querySelector('body').style.backgroundColor = 'white';
">
}
a {
  color:#DC6089	;
  text-decoration: none;
  }
h1 {
   font-size: 45px;
   text-align: center;
   text-shadow: 5px 3px #558abb;
   border-bottom:1px solid gray;
   margin:0;
   padding:20px;
}
h2 {
  text-shadow:3px 2px #558abb;
}
ul {
  border-right:1px solid gray;
  width:100px;
  margin:0;
  padding:20px;
}
  #grid ul {
  padding-left:33px
}
  #grid{
    display:grid;
    grid-template-columns:150px 1fr;
  }
  #grid #article{
    padding-left:25px;
  }
  @media(max-width:800px) {
    #grid{
      display:block;
      }
      ul{
        border-right:none;
      }
      h1 {
      border-bottom:none;
      }
      body{
        border-bottom:none;
      }
  }
